<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="socialtour.socialtour"
    android:versionCode="1"
    android:versionName="1.0" >
<supports-screens 
    android:largeScreens="true"
    android:normalScreens="true"
    android:smallScreens="true"
    android:anyDensity="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
       	android:name=".GlobalVariable"
        android:debuggable="true"
        android:icon="@drawable/icon3"
        android:label="@string/app_name" 
        android:theme="@style/MyTheme">
        <uses-library android:name="com.google.android.maps" />

        <provider
            android:name=".SuggestUrlProvider"
            android:authorities="socialtour.socialtour.SuggestUrlProvider"
            android:syncable="false" />
        <!-- Points to searchable activity so the whole app can invoke search. -->
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".Addplace" />

        <activity
            android:name=".SocialTourActivity"
            android:label="@string/app_name" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.SOCIALTOURACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="Home" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.HOME" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Attraction"
            android:label="Attraction" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.ATTRACTION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Checkin"
            android:label="Check-in" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.CHECKIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Food"
            android:label="Food" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.FOOD" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profile"
            android:label="Profile" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.PROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Browseplace"
            android:label="Browseplace"
            android:configChanges="orientation" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.BROWSEPLACE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Startcamera"
            android:label="Startcamera"
            android:configChanges="orientation|keyboardHidden" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.STARTCAMERA" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Productdetail"
            android:label="Productdetail" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.PRODUCTDETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Addplace"
            android:label="Addplace" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.ADDPLACE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- Receives the search request. -->
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <!-- No category needed, because the Intent will specify this class component -->
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".Main"
            android:label="Main" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Shopdetail"
            android:label="Shopdetail" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.SHOPDETAIL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registration"
            android:label="Registration"
            android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.REGISTRATION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MapResult"
            android:label="MapResult" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.MAPRESULT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
            
        <activity
            android:name=".Search"
            android:label="Search" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginPage"
            android:label="LoginPage"
            android:theme="@android:style/Theme.NoTitleBar" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.LOGINPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductPage"
            android:label="ProductPage" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.PRODUCTPAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChooseCategory"
            android:label="ChooseCategory" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.CHOOSECATEGORY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InputPrice"
            android:label="InputPrice" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.INPUTPRICE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Remarks"
            android:label="Remarks" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="socialtour.socialtour.REMARKS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="TabGroup1Activity" android:screenOrientation="portrait"/>
        <activity android:name="TabGroup2Activity"
            	  android:configChanges="orientation" android:screenOrientation="portrait"/>
        <activity android:name="TabGroup3Activity" android:screenOrientation="portrait"/>
        <activity
            android:name=".Container"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation"
            android:windowSoftInputMode="adjustPan" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="Dashboard" />
        <activity android:name="Settings" />
        <activity android:name=".CustomWindow" />
    </application>

</manifest>